@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  margin: 45px;
  margin-top: 65px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  padding: 65px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil {
  display: flex;
}

.fotoPerfil {
  border-radius: 200px;
  max-height: 135px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nomeTitulo {
  margin-left: 20px;
}

.nomeTitulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.nomeTitulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 25px;
  padding: 30px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.titProjetos {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.listaProjetos {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.listaProjetos a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
}

.dark .perfil {
  color: #f7f7f7;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}